<div class="equipos-bg">
  <header class="equipos-header">
    <img src="https://upload.wikimedia.org/wikipedia/commons/3/33/F1.svg" class="logo-f1" alt="F1 Logo" onclick="location.hash='overview'">
<div class="header-center">
    <div class="weather-widget"></div>
    <div class="clock-widget"></div>
</div>
    <div class="icons-right">
      <button class="notif-icon" onclick="showNotifications()">
    <img src="src/assets/icons/notif-icon.png" class="notif-icon">
  </button>
      <button class="user-icon">
        <img src="src/assets/icons/user-icon.png" class="user-icon">
      </button>
    </div>
  </header>

  <div class="equipos-body">
    <aside class="Sidebar">
      <ul>
        <li><a href="#carreras" class="carreras-btn">Carreras</a></li>
        <li><a href="#dinamicas-carreras" class="dinamicas-btn">Dinámicas de Carreras</a></li>
        <li><a href="#equipos">Equipos</a></li>
        <li><a href="#historia">Historia</a></li>
        <li><a href="#pilotos">Pilotos</a></li>
      </ul>
    </aside>

    <div class="equipos-container">
  <h2>Equipos F1 por Temporada</h2>

  <label for="season-select">Selecciona una temporada:</label>
  <select id="season-select"></select>

  <div id="teams-list"></div>
  <div id="drivers-list"></div>
</div>


    <main class="equipos-content">
    </main>
  </div>
</div>
