<div class="overview-bg">
<aside class="Sidebar">
    <nav>
    <a href="#overview" class="text-white hover:text-gray-300">Overview</a>
    <a href="#carreras" class="text-white hover:text-gray-300">Carreras</a>
    <a href="#equipos" class="text-white hover:text-gray-300">Equipos</a>
    <a href="#pilotos" class="text-white hover:text-gray-300">Pilotos</a>
    <a href="#historia" class="text-white hover:text-gray-300">Historia</a>
    <a href="#dinamicas-carreras" class="text-white hover:text-gray-300">Dinámicas Carreras</a>
    </nav>
</aside>
<main class="overview-content">
    <h1>F1 page</h1>
    <!-- Aquí puedes poner el contenido principal -->
</main>
</div>